@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /*Press Start 2P*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
	height: 0;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
body{
	background-color: black;
	height: auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Press Start 2P';
	color: #fff;
}
#wrapper{
	width: 100%;	
}
.header{
	width: 100%;
	height: 1000px;
	/* background: pink; */
	background-image: url(../img/banner.jpg);
	background-size: cover;
}
.logo{
	width: 30%;
	height: 100px;
	float:left;
}
.logo img{
	width: 100px;
	height: 100px;
	margin: 10px 30px;
}
.nav{
	width: 68%;
	height: 40px;
	float: right;
	margin-top: 40px;
	/* border: 2px solid white; */
	box-sizing: border-box;
}
.nav ul{
	list-style: none;
	text-align: center
}
.nav li{
	display: inline-block;
	margin: 0 60px;
	line-height: 35px;
}
.nav li a{
	color: #fff;
	font-family: 'Advent Pro';
	font-weight: bold;
	text-decoration: none;
}
.nav li a:hover{
	color: yellow;
	font-weight: bold;
}
.main{
	width: 100%;
}
.section1{
	/* background-color: darkgray; */
	height: 800px;
}
.container h1{
	margin: 10px 125px;
	padding-top: 15em;
	letter-spacing: 5px;
}
.container h2{
	letter-spacing: 8px;
}
.btn{
	padding-top: 2em;
	padding-left: 10em;
	z-index: 99999
}
button{
	width: 10%;
	height: 50px;
	font-weight: bold; 
	font-size: 20px;
	text-align: center;
	font-family: 'Advent Pro';
	background-color: black;
	border:  2px solid #fff;
}
.btn a{
	color: yellow;
	text-decoration: none;
}
.btn a:hover{
	color: black;
	text-decoration: none;
}
.main{
	width: 100%;
	/* background: darkslategrey; */
	margin-top: 10px;
}
.section1{
	width: 100%;
	/* background-color: cyan; */
	height: 800px;
	float: left;
}
.tieude{
	font-family: 'Press Start 2P';
	color: #fff;
	text-align: center;
	padding: 2em;
	font-size: 30px;
}
.content-left{
	width: 30%;
	height: 500px;
	border: 2px solid yellow;
	float: left;	
	font-family: 'Advent Pro';	
	color: #fff;
	margin: 0 20px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.content-left img{
	height: 250px;
	padding-top: 2em;
}
.content-left p{
	text-align: left;
	padding-top: 2em;
	margin: 0 10px;
	font-size: 20px;
	font-weight: normal;
}
.section2{
	width: 100%;
	/* background-color: brown; */
	height: 800px;
	float: left;
}
.SerLeft{
	width: 40%;
	/* background-color: chocolate; */
	float: left;
	height: 650px;
}
.SerLeft h1{
	margin: 0;
	padding: 1em 0;
	text-align: center;
	font-family: 'Advent Pro';
	font-weight: bold;
	color: yellow;
}
.nav-service{
	width: 100%;
	height: auto;
}
.nav-service ul{
	/* list-style: decimal-leading-zero; */
	padding-left: 5em;
}
.nav-service li{
	margin:  40px 0;
	color: #fff;
	font-size: 20px;
	font-family: 'Advent Pro';
	font-weight: bold;
}
.t-vang{color: yellow;}
.nav-service li a{
	color: #fff;
	font-size: 20px;
	font-family: 'Advent Pro';
	text-decoration: underline;
	font-weight: bold;
}
.nav-service a:hover{
	color: yellow;
}
.SerRight{
	width: 59%;
	/* background-color: darkcyan; */
	float: right;
	height: 650px;
}
.SerRight img{
	width: 100%;
}
.SerRight p{
	font-family: 'Advent Pro';
	text-align: center;
	color: #fff;
}
.section3{
	width: 100%;
	/* background-color: olivedrab; */
	height: 900px;
	float: left;
}
.blog-left{
	width: 49%;
	height: 750px;
	float: left;
}
.leftleft{
	float: left;
	width: 49%;
	height: 100%;
}
.leftleft a{
	text-decoration: none;
}
.leftleft h1{
	margin: 0;
	padding: 1em 0;
	font-family: 'Advent Pro';
	font-weight: bold;
	color: yellow;
}
.leftleft img{
	width: 100%;
	border: #fff solid 5px;
}
.leftleft p{
	color: #fff;
	padding: 1em 0;
	font-family: 'Advent Pro';
}
.leftright{
	float: right;
	width: 49%;
	height: 100%;
}
.leftright a{
	text-decoration: none;
	font-family: 'Advent Pro';
}
.leftright h1{
	margin: 0;
	padding: 1em;
	font-family: 'Advent Pro';
	text-align: center;
	font-weight: bold;
	color: yellow;
}
.leftright img{
	width: 100%;
	border: #fff solid 5px;
}
.leftright p{
	color: #fff;
	padding: 1em 0;
	margin-left: 5px;
	font-family: 'Advent Pro';
}
.blog-right{
	width: 40%;
	height: 750px;
	float: right;
}
.blog-right h1{
	margin: 0;
	padding: 1em;
	font-family: 'Advent Pro';
	text-align: center;
	font-weight: bold;
	color: yellow;
}
.righttop{
	width: 100%;
	height: 50%;
}
.righttop p{
	color: #fff;
	padding: 0;
	word-spacing: 5px;
	font-family: 'Advent Pro';
}
.rightbottom{
	width: 100%;
	height: 50%;
	float: left;
}
.rightbottom img{
	width: 100%;
	padding: 1.5em 0;
}
.section4{
	width: 100%;
	background-image: url(../img/2.jpg);
	background-size: cover;
	height: 900px;
	float: left;
}
.ContactLeft{
	padding-left: 5em;
	color: #fff;
}
.ContactLeft h1{
	margin: 0;
	padding: 3em 5em;
	font-family: 'Advent Pro';
	font-size: 40px;
}
.ContactLeft h5{
	margin: 0;
	padding: 2em 15em;
	font-family: 'Advent Pro';
	font-size: 20px;
}
.ContactLeft p{
	font-family: 'Advent Pro';
	font-size: 20px;
	padding: 0em 15em;
}
.btn-section{
	padding: 0em 15em;
	width: 50%;
	text-align: left; z-index: 99999;
}
.btn-section button{
	font-weight: bold; 
	font-size: 20px; 
	border: #fff solid 2px;
	color: #fff;
	text-decoration: none;
}
.btn-section button:hover{
	font-weight: bold; 
	font-size: 20px;
	color: black;
	background-color: yellow;
}
.btn-dky{
	width: 10em;
}
.footer{
	float: left;
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: #fff;	
	font-family: 'Advent Pro';	
	font-weight: bold;
}
.nav-footer ul{
	list-style: none;
}
.nav-footer li{
	display: inline-block;
	margin:  0 20px;
}
.nav-footer li a{
	color: yellow;
	text-decoration: none;
}
.nav-footer li a:hover{
	color: white;
}